<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http="http://cxf.apache.org/transports/http/configuration"
	xmlns:sec="http://cxf.apache.org/configuration/security"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:conf-sec="http://cxf.apache.org/configuration/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/configuration/security 
        http://cxf.apache.org/schemas/configuration/security.xsd        
        http://cxf.apache.org/transports/http/configuration 
        http://cxf.apache.org/schemas/configuration/http-conf.xsd
        http://cxf.apache.org/core 
        http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/transports/http/configuration
        http://cxf.apache.org/schemas/configuration/http-conf.xsd">

	<!-- SASENINFO:Sentencia necesaria para tener acceso a toda la parte Back-End de la aplicación -->
	<context:component-scan base-package="com.springBasicProject" />
			
	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	   		<property name="paramName" value="lang" />
	  	</bean>
	  	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	  	</bean>
	</mvc:interceptors>
	
	<!-- SASENINFO:Sentencia necesaria para con la que le decimos a Spring el modelo vista con el quevamos a trabajar (JSP)-->
	<bean id="urlMapping" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
	</bean>		
	
	<!-- SASENINFO:Declaramos variables de entorno de conexion con TOMCAT a la BBDD-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		 <property name="driverClassName" value="org.postgresql.Driver" /> 
		 <property name="url" value="#{systemEnvironment['DATABASE_URL_JAVA']}" />
		 <property name="username" value="#{systemEnvironment['DATABASE_USER']}" />
		 <property name="password" value="#{systemEnvironment['DATABASE_PASSWORD']}" />   
	</bean>
	
	<!-- SASENINFO:Mapeamos con Hibernate tablas de la BBDD a clases VO-->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		  <property name="dataSource" ref="dataSource" />
		  <property name="annotatedClasses">  
	            <list>  
	                <value>com.springBasicProject.vo.AcademiaVO</value> 
	            </list>
		  </property>
		  <property name="hibernateProperties">
			   <props>
				    <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				    <prop key="hibernate.show_sql">true</prop>
				    <prop key="hibernate.connection.requireSSL">false</prop>
				    <prop key="hibernate.connection.autocommit">true</prop>
			   </props>
		  </property>
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
	<!-- SASENINFO:Services de la aplicacion-->
	<bean id="academiaService" class="com.springBasicProject.logic.AcademiaServiceImpl"/>

	<mvc:annotation-driven />
 	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<mvc:resources mapping="/resources/**" location="/resources/"/> 
</beans>
